.dashboard-panel .panel-body .row span {
    padding-bottom: 3px
}
.dashboard-panel .panel-body .row {
    margin-bottom: 20px;
    margin-left: 2px
}
.dashboard-panel .panel-body .row i {
    font-size: 1.7em;
    width: 38px
}
.dashboard-panel input, .dashboard-panel select {
    background-color: transparent !important;
    color: #ccccd6
}

#dashboard .navbar {
    background-color: rgba(0, 0, 0, 0.6)
}